body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f0f8ff, #669cbe, #4682b4, #55aaff, #516b8f);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 2em;
    color: #4682b4;
    margin-bottom: 20px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #87cefa, 0 0 20px #87cefa, 0 0 30px #87cefa;
    }
    to {
        text-shadow: 0 0 20px #4682b4, 0 0 30px #4682b4, 0 0 40px #4682b4;
    }
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #87cefa;
    outline: none;
}

button {
    background-color: #87cefa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4682b4;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
